.ofertas{
    transition-duration: 400ms;
}
.ofertas:hover{
   border-color: cornflowerblue;
   cursor: pointer;
}
.row .col-md p{
   font-size: .9rem;
}
.page-footer .container-fluid .row div p{
   font-size: .9rem;
}
.page-footer .container-fluid .row div p a:hover{
   text-decoration: none;
   color: orange !important;
}
.page-footer .container-fluid .row div{
   font-size: .9rem;
}
.pagination{
   background-color: #eee;
}
label:hover{
   cursor: pointer;
}